---
# Item refers to xcode_versions passed in from main.yml
- name: Check if Xcode {{ item.major }} is already downloaded
  become: true
  stat:
    path: "/Applications/Xcode{{ item.major }}.{{ item.minor }}.app"
    get_checksum: false
  register: xcode_xip

- name: Create folder for source files 
  become: true
  file:
    path: "/Applications/xcode_source"
    state: directory

- name: Download Xcode
  become: true
  get_url:
    url: https://s3.amazonaws.com/boxes.10gen.com/build/xcode/Xcode_{{ item.major }}.{{ item.minor }}.xip
    dest: "/Applications/xcode_source/Xcode_{{ item.major }}.{{ item.minor }}.xip"
  async: 600
  poll: 60
  when: not xcode_xip.stat.exists

- name: Unxip xcode {{ item.major }}
  become: true
  command: xip -x /Applications/xcode_source/Xcode_{{ item.major }}.{{ item.minor }}.xip
  async: 720
  poll: 30
  args:
    creates: /Applications/Xcode{{ item.major }}.app
    chdir: /Applications/xcode_source/
  when: not xcode_xip.stat.exists

- name: Move xcode to correct directory
  become: true
  command: mv /Applications/xcode_source/Xcode*.app /Applications/Xcode{{ item.major }}.{{ item.minor }}.app
  args:
    creates: /Applications/Xcode{{ item.major }}.app

- name: Link Xcode version
  become: true
  file:
    src: /Applications/Xcode{{ item.major }}.{{ item.minor }}.app
    dest: /Applications/Xcode{{ item.major }}.app
    state: link
    owner: root
    group: wheel

- name: Accept xcode license
  become: true
  template:
    src: com.apple.dt.Xcode.plist.erb
    dest: /Library/Preferences/com.apple.dt.Xcode.plist
    owner: root
    group: wheel
    mode: 0644

# BUILD-7003
- name: Run xcode first launch
  become: true
  command: /Applications/Xcode{{ item.major }}.app/Contents/Developer/usr/bin/xcodebuild -runFirstLaunch
  args:
    creates: /etc/XCode{{ item.major }}FirstLaunch
  register: first_launch

- name: Create xcode first launch file
  become: true
  file:
    path: /etc/XCode{{ item.major }}FirstLaunch
    state: touch
    owner: root
    mode: 0644
  when: first_launch.changed
